.carousel-item {
  height: 500px;
}

.bg-img1 {
  background-size: cover;
  background-image: url("./images/grant-ritchie-x1w_Q78xNEY-unsplash.jpg");
}

.bg-img2 {
  background-size: cover;
  background-image: url("./images/iswanto-arif-OJ74pFtrYi0-unsplash.jpg");
}

.bg-img3 {
  background-size: cover;
  background-image: url("./images/jonatan-pie-3l3RwQdHRHg-unsplash.jpg");
}

/* .footer ul {
  list-style-position: inside;
} */

.footer li::marker {
  color: rgb(13, 110, 253);
  margin-right: -10px;
}

@media (max-width: 992px) {
  .form-style {
    width: 100%;
  }

  .form-style button {
    padding: 0 24px;
  }

  .carousel-item {
    height: 300px;
  }
}

/* @media (min-width: 992px) {
  .bg-img1 .carousel-caption {
    color: black;
  }
} */
